.slider {
    background:#14aecf;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-discription {
    background:#14aecf;
    display: flex;
    padding-bottom:15px;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#fff
  }
  .slider-discription h2{
    font-weight: bold;
  }
  .slider-discription h5{
    font-weight: bold;
    font-style: italic;
  }
  .slider-discription button{
      margin: 15px;
      padding: 15px;
      border: 2px solid #14aecf;
      color: #14aecf;
      font-weight: bold;
  }
  .slider-discription button:hover{
    margin: 15px;
    padding: 15px;
    border: 2px solid #fff;
    background-color: #14aecf;
    color: #fff;
    font-weight: bold;
}
  .fnf-image {
    width: 700px;
    height: 250px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 45px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 45px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }


  @media (max-width: 768px) {
    .fnf-image {
        width: 80px;
        height: 90px;
        border-radius: 10px;
      }
  }

  @media (max-width: 900px) {
    .fnf-image {
        width: 250px;
        height: 200px;
        border-radius: 10px;
      }
  }