.fotter-bg{
    background-color: #000;
    color: #fff;
}
.socialIcon{
    margin-top: 3px;
    font-size: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.socialIcon:hover{
    color: #07a8ff;
}
.copy-right{
    margin-top: 100px;
    margin-bottom:0px;
}