.mission-image{
    max-width: 380px;
  }
.missionGroup{
    margin-top:50px;
}

.missionButton{
    margin-top: 15px;
    font-size: 2.1rem;
    padding: .8rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border: 0;
    cursor: pointer;
    background-image: linear-gradient(to right,#00cbee,#29f2cd);
    color: #ffff;
    border-radius:25px;
}

.mission-form{
    padding-bottom: 15px;
}
.centered h1{
    font-size: 50px;
}